In [1]:
import pandas as pd
import numpy as np
from matplotlib.pyplot import plot as plt

In [2]:
df = pd.read_csv('spaceship-titanic/train.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [4]:
df.drop(['Cabin','PassengerId'],1)

C:\Users\ashwa\AppData\Local\Temp\ipykernel_21312\2449726118.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(['Cabin','PassengerId'],1)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [5]:
df.drop(['Name'],1)

C:\Users\ashwa\AppData\Local\Temp\ipykernel_21312\3177763275.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(['Name'],1)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [6]:
from sklearn import preprocessing
enc = preprocessing.LabelEncoder()

In [7]:
cols = df.columns

for col in cols:
    df[col] = df[col].astype('str')
    # test[col] = test[col].astype('str')
    df[col] = enc.fit_transform(df[col])
    # test[col] = enc.transform(test[col])

In [8]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0,1,0,149,2,33,0,0,0,0,0,0,5252,0
1,1,0,0,2184,2,17,0,54,1438,435,933,781,4502,1
2,2,1,0,1,2,54,1,779,779,0,1065,842,457,0
3,3,1,0,1,2,27,0,0,142,585,645,362,7149,0
4,4,0,0,2186,2,8,0,621,1229,202,953,382,8319,1

In [9]:
x=df.drop('Transported',1)

C:\Users\ashwa\AppData\Local\Temp\ipykernel_21312\172560693.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x=df.drop('Transported',1)

In [10]:
y=df['Transported']
y.head()

0    0
1    1
2    0
3    0
4    1
Name: Transported, dtype: int32

In [11]:
import sklearn
from sklearn import linear_model
from sklearn import model_selection

In [12]:
Lin = linear_model.LinearRegression()

In [13]:
x_train, x_test,y_train, y_test = model_selection.train_test_split(x,y,test_size=0.2)

In [14]:
Lin.fit(x_train,y_train)
y_pred = Lin.predict(x_test)

In [25]:
y_pred.reshape(-1,1)
y_test.reshape(-1,1)

AttributeError: 'Series' object has no attribute 'reshape'

In [15]:
Lin.score(x_test,y_test)

0.23740859158295136

In [28]:
from sklearn import svm
from sklearn import metrics

In [29]:
cl = svm.SVC(kernel='linear', C=2)

In [ ]:
cl.fit(x_train,y_train)

In [ ]:
# metrics.accuracy_score(y_test,y_pred)

In [16]:
Log =  linear_model.LogisticRegression()

In [17]:
Log.fit(x_train,y_train)

C:\Users\ashwa\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
Log.predict(x_test)

array([0, 0, 1, ..., 0, 1, 1])

In [19]:
Log.score(x_test,y_test)

0.7015526164462335

In [20]:
from sklearn.neighbors import KNeighborsClassifier

In [23]:
kn = KNeighborsClassifier(n_neighbors = 13)
kn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=13)

In [24]:
kn.score(x_test,y_test)

0.6728004600345026

In [26]:
pred=kn.predict(x_test)

In [28]:
sklearn.metrics.accuracy_score(pred,y_test)

0.6728004600345026