In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
df = pd.read_csv('playground-series-s3e14 blueberry/train.csv')

In [91]:
df.head()

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds,yield
0,0,25.0,0.50,0.25,0.75,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.425011,0.417545,32.460887,4476.81146
1,1,25.0,0.50,0.25,0.50,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.444908,0.422051,33.858317,5548.12201
2,2,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.552927,0.470853,38.341781,6869.77760
3,3,12.5,0.25,0.25,0.63,0.50,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.565976,0.478137,39.467561,6880.77590
4,4,25.0,0.50,0.25,0.63,0.63,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.579677,0.494165,40.484512,7479.93417

In [92]:
from sklearn.linear_model import LinearRegression

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
X = df.drop('yield',axis=1)
X.head()

,id,clonesize,honeybee,bumbles,andrena,osmia,MaxOfUpperTRange,MinOfUpperTRange,AverageOfUpperTRange,MaxOfLowerTRange,MinOfLowerTRange,AverageOfLowerTRange,RainingDays,AverageRainingDays,fruitset,fruitmass,seeds
0,0,25.0,0.50,0.25,0.75,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.425011,0.417545,32.460887
1,1,25.0,0.50,0.25,0.50,0.50,69.7,42.1,58.2,50.2,24.3,41.2,24.0,0.39,0.444908,0.422051,33.858317
2,2,12.5,0.25,0.25,0.63,0.63,86.0,52.0,71.9,62.0,30.0,50.8,24.0,0.39,0.552927,0.470853,38.341781
3,3,12.5,0.25,0.25,0.63,0.50,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.565976,0.478137,39.467561
4,4,25.0,0.50,0.25,0.63,0.63,77.4,46.8,64.7,55.8,27.0,45.8,24.0,0.39,0.579677,0.494165,40.484512

In [95]:
Y = df.iloc[:,-1].copy()
Y.head()

0    4476.81146
1    5548.12201
2    6869.77760
3    6880.77590
4    7479.93417
Name: yield, dtype: float64

In [96]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

In [97]:
from sklearn.preprocessing import StandardScaler
  
sc_x = StandardScaler()
X_train = sc_x.fit_transform(X_train)
X_test = sc_x.transform(X_test)
  
print (X_train[0:10, :])

[[ 0.22460711 -1.09377748 -0.38693612 -0.61533962  1.73162614  1.1378667
  -0.51694408 -0.51321573 -0.51316634 -0.51434873 -0.51511669 -0.50901658
  -1.51876657 -1.37075614  1.07816384  0.98772375  1.15108505]
 [ 0.58860645  0.80445629  0.30781116 -0.61533962 -0.76205238  0.27153968
   0.42568555  0.42664118  0.43139592  0.42595551  0.42612072  0.4209041
  -0.23059753 -0.39369734  0.06282563  0.19704559  0.04531044]
 [ 0.73823554  0.80445629  0.30781116 -0.61533962  0.92286554  0.27153968
   0.42568555  0.42664118  0.43139592  0.42595551  0.42612072  0.4209041
  -0.23059753 -0.39369734 -0.72307126 -0.58827814 -0.82060204]
 [-0.85992078  0.80445629 -0.38693612 -0.61533962 -1.6382097  -2.47182923
   1.36831517  1.36649809  1.36283925  1.36625974  1.36735813  1.3694232
   1.31520532  1.43828791 -1.35638378 -1.1943571  -1.33381289]
 [ 1.16131686  0.80445629  0.30781116  1.55424883 -0.76205238  0.27153968
  -0.51694408 -0.51321573 -0.51316634 -0.51434873 -0.51511669 -0.50901658
  -0.23059753 -0.39369734  0.87192789  0.80588784  0.63994924]
 [-0.74356776  0.80445629  0.30781116 -0.61533962  0.92286554  0.27153968
  -1.36092641 -1.36270179 -1.36589614 -1.36365578 -1.36223036 -1.36454361
  -0.23059753 -0.39369734 -1.12239385 -1.0944793  -0.70648163]
 [ 0.10599041 -1.09377748 -0.38693612 -0.61533962  1.73162614  0.27153968
  -1.36092641 -1.36270179 -1.36589614 -1.36365578 -1.36223036 -1.36454361
  -1.51876657 -1.37075614  1.74869134  2.11096294  2.06890287]
 [ 0.55351945  0.80445629  0.30781116 -0.61533962  0.92286554  0.27153968
  -0.51694408 -0.51321573 -0.51316634 -0.51434873 -0.51511669 -0.50901658
   1.31520532  1.43828791 -1.34949496 -1.25029448 -1.50866968]
 [ 0.63161633  0.80445629  0.30781116  1.55424883  0.04670822 -0.66698126
  -0.51694408 -0.51321573 -0.51316634 -0.51434873 -0.51511669 -0.50901658
   0.45642596  0.40016293 -0.12263351  0.01302204  0.03040979]
 [ 0.65900683  0.80445629  0.30781116 -0.61533962 -0.76205238  1.1378667
   1.36831517  1.36649809  1.36283925  1.36625974  1.36735813  1.3694232
   0.45642596  0.40016293  0.0948495   0.19507282  0.12495239]]

In [98]:
model = LinearRegression()

In [99]:
model.fit(X_train,Y_train)

LinearRegression()

In [100]:
model.score(X_test,Y_test)

0.8277683214712108

In [101]:
from sklearn.metrics import mean_absolute_error, r2_score

In [102]:
Y_pred1=model.predict(X_test)

In [103]:
print('MSE: {:.2f}'.format(mean_absolute_error(Y_test, Y_pred1)))
print('R^2 score: {:.2f}'.format(r2_score(Y_test, Y_pred1)))

MSE: 352.12
R^2 score: 0.83

In [104]:
test = pd.read_csv('playground-series-s3e14 blueberry/test.csv')

In [105]:
from sklearn.preprocessing import StandardScaler
  
sc_x = StandardScaler()
test = sc_x.fit_transform(test)

  
print (test[0:10, :])

[[-1.73188091  0.78950305 -0.36308827 -0.60650259 -1.62884481 -2.45350556
   0.41439846  0.41476769  0.42004409  0.41463614  0.4143742   0.40910888
   0.46628816  0.40825643 -1.37131804 -1.0325095  -1.17963894]
 [-1.73154109 -1.10686691 -0.36308827 -0.60650259  1.74590499  0.26290733
   1.35398187  1.35136485  1.348482    1.35165488  1.35242366  1.35433661
  -1.48625709 -1.3457724  -0.18420686 -0.09389754  0.17678176]
 [-1.73120127 -1.10686691 -0.36308827 -0.60650259  0.93596504  0.26290733
   0.41439846  0.41476769  0.42004409  0.41463614  0.4143742   0.40910888
  -0.21285801 -0.37803235  1.09192201  1.0987803   0.97054679]
 [-1.73086145  0.78950305  0.27793227  1.56510043 -0.75140986  0.26290733
   0.41439846  0.41476769  0.42004409  0.41463614  0.4143742   0.40910888
  -0.21285801 -0.37803235 -0.92090449 -0.63419095 -0.75136625]
 [-1.73052164  2.68587302  0.9189528  -0.60650259 -1.62884481 -2.45350556
   1.35398187  1.35136485  1.348482    1.35165488  1.35242366  1.35433661
   0.46628816  0.40825643 -1.88496901 -1.55144865 -1.63652748]
 [-1.73018182 -1.10686691 -0.36308827 -0.60650259  1.74590499  1.12072192
   1.35398187  1.35136485  1.348482    1.35165488  1.35242366  1.35433661
   1.31522089  1.43648023 -0.66795311 -0.28942844 -0.82637966]
 [-1.729842   -1.10686691 -0.36308827 -0.60650259  1.74590499  0.26290733
  -0.52518495 -0.52182947 -0.52147041 -0.52238259 -0.52367527 -0.51758497
  -0.21285801 -0.37803235  0.94778346  0.96550578  1.00140078]
 [-1.72950218 -1.10686691 -0.36308827  1.56510043  0.05853009 -0.66639182
  -1.36643986 -1.36836922 -1.37144877 -1.3687221  -1.36791979 -1.37014331
  -1.48625709 -1.3457724   0.25204209 -0.34211885 -0.2045791 ]
 [-1.72916237  0.78950305  0.27793227  1.56510043  0.05853009  1.12072192
   0.41439846  0.41476769  0.42004409  0.41463614  0.4143742   0.40910888
  -1.48625709 -1.3457724   1.92538475  1.98798657  2.02558855]
 [-1.72882255  0.78950305 -0.36308827 -0.60650259 -1.62884481 -2.45350556
  -0.52518495 -0.52182947 -0.52147041 -0.52238259 -0.52367527 -0.51758497
   1.31522089  1.43648023 -1.38669309 -1.0325095  -1.18370084]]

In [107]:
pred_0=model.predict(test)

In [108]:
pred_0

array([4325.76670118, 6144.02597906, 7276.27169688, ..., 6947.821496  ,
       4456.20857424, 7340.36449698])

In [110]:
sol = pd.read_csv('playground-series-s3e14 blueberry/sample_submission.csv')

In [111]:
sol.drop(['yield'],axis=1)

          id
0      15289
1      15290
2      15291
3      15292
4      15293
...      ...
10189  25478
10190  25479
10191  25480
10192  25481
10193  25482

[10194 rows x 1 columns]

In [113]:
sol['yield']=pred_0

In [114]:
sol.head()

      id        yield
0  15289  4325.766701
1  15290  6144.025979
2  15291  7276.271697
3  15292  5003.563415
4  15293  3695.478618

In [115]:
sol.to_csv('final.csv',index=False)