In [2]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

data = pd.read_csv('train.csv')

In [24]:
X = data
X=X.drop(['label'],axis=1)
Y= data['label']

In [25]:
X.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
Y.head()

0    1
1    0
2    1
3    4
4    0
Name: label, dtype: int64

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [28]:
X_train.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
24006,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27891,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17058,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39359,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
model = KNeighborsClassifier(n_neighbors = 3)

In [82]:
model.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=3)

In [83]:
print(model.score(X_test, Y_test))

0.9642857142857143

In [34]:
test = pd.read_csv('test.csv')

In [36]:
solution = model.predict(test)

In [38]:
pd.DataFrame(solution).to_csv('solution.csv')

In [39]:
len(test)

28000

In [40]:
len(solution)

28000

In [46]:
solution[[0][0]]="label"

ValueError: invalid literal for int() with base 10: 'label'

In [47]:
sol = pd.read_csv('solution.csv')

In [49]:
sol.columns=['ImageId','Label']

In [50]:
sol.head()

   ImageId  Label
0        0      2
1        1      0
2        2      9
3        3      9
4        4      3

In [54]:
sol.to_csv('sol1.csv', index=False)

In [55]:
sol = sol.set_index(sol['ImageId'])

In [56]:
sol.head()

         ImageId  Label
ImageId
0              0      2
1              1      0
2              2      9
3              3      9
4              4      3

In [57]:
sol.drop(['ImageId'],axis=1)

         Label
ImageId
0            2
1            0
2            9
3            9
4            3
...        ...
27995        9
27996        7
27997        3
27998        9
27999        2

[28000 rows x 1 columns]

In [66]:
sol.to_csv('sol2.csv',index=False)

In [59]:
sol.index+=1

In [60]:
sol.head()

         ImageId  Label
ImageId
1              0      2
2              1      0
3              2      9
4              3      9
5              4      3

In [64]:
sol=sol.drop(['ImageId'],axis=1)

In [69]:
sol.head()

         Label
ImageId
1            2
2            0
3            9
4            9
5            3

In [74]:
sol.to_csv('sol4.csv')

In [71]:
sol.index.name = 'ImageId'

In [72]:
sol.head()

         Label
ImageId
1            2
2            0
3            9
4            9
5            3

In [1]:
from sklearn.metrics import accuracy_score

NameError: name 'df1' is not defined