In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

data = pd.read_csv('train.csv')

In [2]:
X = data
X=X.drop(['label'],axis=1)
Y= data['label']

In [3]:
X.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
Y.head()

0    1
1    0
2    1
3    4
4    0
Name: label, dtype: int64

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3)

In [6]:
X_train.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
30647,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30511,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13488,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9767,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30936,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
Y_test.head()

41511    1
30491    7
29488    6
1237     7
4406     8
Name: label, dtype: int64

In [8]:
from sklearn import svm

In [9]:
model = svm.SVC()

In [10]:
model.fit(X_train, Y_train)

SVC()

In [11]:
print(model.score(X_test, Y_test))

0.9750793650793651

In [12]:
Y_pred = model.predict(X_test)

In [28]:
Y_pred

array([8, 9, 6, ..., 0, 0, 7], dtype=int64)

In [17]:
test = pd.read_csv('test.csv')

In [29]:
solution = model.predict(test)

In [31]:
solution

array([2, 0, 9, ..., 3, 9, 2], dtype=int64)

In [32]:
sol=solution.reshape(28000,1)

In [35]:
sol=pd.DataFrame(solution)

In [40]:
sol.index +=1

In [41]:
sol.head()

   0
1  2
2  0
3  9
4  9
5  3

In [ ]:
sol.

In [37]:
sol.columns=['ImageId','Label']

ValueError: Length mismatch: Expected axis has 1 elements, new values have 2 elements

In [36]:
sol.head()

   0
0  2
1  0
2  9
3  9
4  3

In [43]:
sol.to_csv('SVMsolution.csv')

In [44]:
fsvm = pd.read_csv('SVMsolution.csv')

In [45]:
fsvm.head()

   Unnamed: 0  0
0           1  2
1           2  0
2           3  9
3           4  9
4           5  3

In [46]:
fsvm.columns=['ImageId','Label']

In [47]:
fsvm.index +=1

In [48]:
fsvm.head()

   ImageId  Label
1        1      2
2        2      0
3        3      9
4        4      9
5        5      3

In [49]:
fsvm.to_csv('Final_SVM_solution.csv',index=False)

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
acc = accuracy_score(Y_test,Y_pred)

In [16]:
acc

0.9766666666666667